<html>
    <body>
        <h1>Log In!</h1>
        <p>If you already have an account, then log in below.</p>
       
        <form action="/temp" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value=" "><br>
            <label for="pwd">Password:</label><br>
            <input type="text" id="pwd" name="pwd" value=" ">
            <br><input type="submit" value="Submit" ></input>
        </form>

        {{wrongInfo}}
    </body>
</html>