<html>
    <body style="background-color:#D8F0FA;">
        <head>
            <style>
              h1 {text-align: center;}
              p {text-align: center;}
            </style>
        </head>

          <h1>Information About Your Services</h1>
          {{userInput | safe}}

          <div id="bodytext">
              <table align = "center">
              <tr>
                <td>
                  <button class="button" onclick="document.location = '/suggestions'">Find Results</button>
                </td>
              </tr>
              </table>
          </div>
    </body>
</html>