<html>
    <body>
        <h1>Sign Up!</h1>
        <p>Already have an account?</p>
        <a href="login.html"><button>Go To Login</button></a>

        <form>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value=" "><br>
            <label for="pwd">Password:</label><br>
            <input type="text" id="pwd" name="pwd" value=" ">
          </form>

        <a href="yoursubscriptions.html"><button>Sign Up</button></a>
    </body>
</html>