<html>
    <body>
        <h1>Sign Up!</h1>
        <p>Already have an account?</p>
        <button class="button" onclick="document.location = '/login'">Go To Login</button></a>

        <form action="/temp2" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value=" "><br>
            <label for="pwd">Password:</label><br>
            <input type="text" id="pwd" name="pwd" value=" ">
            <br><input type="submit" value="Submit" ></input>
          </form>

        {{existingInfo}}
    </body>
</html>