<html>
    <body>
        <head>
            <style>
              .center{
            padding: 10% 0;
            text-align: center;
              }
            </style>
          </head>
        
        <div class = "center">
          <h1>Sign Up!</h1>
          <p>Already have an account?</p>

          <div id="bodytext">
              <table align = "center">
              <tr>
                <td>
                  <button class="button" onclick="document.location = '/login'">Go To Login</button></a>
                </td>
              </tr>
              </table>
          </div>

            <form action="/temp2" method="post">
              <p for="email">Email:</p>
                <div id="bodytext">
                    <table align = "center">
                    <tr>
                      <td>
                        <input type="text" id="email" name="email" value=" "><br>
                    </td>
                    </tr>
                    </table>
                 </div>

              <p for="pwd">Password:</p>
                <div id="bodytext">
                    <table align = "center">
                    <tr>
                      <td>
                        <input type="text" id="pwd" name="pwd" value=" ">
                      </td>
                    </tr>
                    </table>
                  </div>
                  
                <div id="bodytext">
                    <table align = "center">
                    <tr>
                      <td>
                        <br><input type="submit" value="Submit" ></input>
                      </td>
                    </tr>
                    </table>
                  </div>
            </form>
          </div>

        {{existingInfo}}
    </body>
</html>