<html>
    <body style="background-color:#D8F0FA;">
        <head>
            <style>
              h1 {text-align: center;}
              p {text-align: center;}
            </style>
          </head>

          <h1>Our Suggestions For You</h1>
          <p>Here are some services that you should subscribe to:</p>
          <ul>
            <li>Amazon Prime Video</li>
            <li>Wall Street Journal</li>
            <li>Reader's Digest</li>
            <li>Health</li>
          </ul>
                    
          <div id="bodytext">
            <table align = "center">
            <tr>
              <td>
                <br><button class="button" onclick="document.location = '/profile'">My Profile</button>
              </td>
            </tr>
            </table>
          </div>
    </body>
</html>