<html>
    <body>
        <h1>Your Subscriptions</h1>
        <p>Please choose the services that you are subscribed to:</p>

        <p>TV Shows & Movies</p>
        <form action="/price" method="post">
        <input type="checkbox" name="tv" value="1">Netflix</input>
        <br><input type="checkbox" name="tv" value="1">Amazon Prime Video</input>
        <br><input type="checkbox" name="tv" value="1">Hulu</input>
        <br><input type="checkbox" name="tv" value="1">HBO</input>
        <br><input type="checkbox" name="tv" value="1">Peacock</input>
        <br><input type="checkbox" name="tv" value="1">Disney+</input>
        <br><input type="checkbox" name="tv" value="1">Sling</input>
        <br><input type="checkbox" name="tv" value="1">ESPN+</input>
        <br><input type="checkbox" name="tv" value="1">Fubo TV</input> 
        <br><input type="checkbox" name="tv" value="1">NFL Game Pass</input>

        <p>Music</p>
        <input type="checkbox" name="tv" value="1">Spotify</input>
        <br><input type="checkbox" name="tv" value="1">Apple Music</input>
        <br><input type="checkbox" name="tv" value="1">Amazon Music</input>

        <p>News</p>
        <input type="checkbox" name="tv" value="1">Wall Street Journal</input>
        <br><input type="checkbox" name="tv" value="1">New York Times</input>
        <br><input type="checkbox" name="tv" value="1">Time</input>
        <br><input type="checkbox" name="tv" value="1">Fortune</input>
        <br><input type="checkbox" name="tv" value="1">Barrons</input>
        <br><input type="checkbox" name="tv" value="1">Cosmopolitan</input>
        <br><input type="checkbox" name="tv" value="1">US Weekly</input>
        <br><input type="checkbox" name="tv" value="1">Entertainment Weekly</input>
        <br><input type="checkbox" name="tv" value="1">Forbes</input>
        <br><input type="checkbox" name="tv" value="1">Smithsonian</input>

        <p>Magazines</p>
        <input type="checkbox" name="tv" value="1">Health</input>
        <br><input type="checkbox" name="tv" value="1">Food & Wine</input>
        <br><input type="checkbox" name="tv" value="1">Sports Illustrated</input>
        <br><input type="checkbox" name="tv" value="1">Car and Driver</input>
        <br><input type="checkbox" name="tv" value="1">Reader's Digest</input>
        <br><input type="checkbox" name="tv" value="1">Vanity Fair</input>
        <br><input type="checkbox" name="tv" value="1">Bridal Guide</input>
        <br><input type="submit" value="Next" ></input>
        </form>
    
    </body>
</html>