<html>
    <body>
        <h1>Your Subscriptions</h1>
        <p>Please choose the services that you are subscribed to:</p>

        <p>TV Shows & Movies</p>
        <form action="/price" method="post">
        <input type="checkbox" name="tv" value="Netflix">Netflix</input>
        <br><input type="checkbox" name="tv" value="Amazon Prime Video">Amazon Prime Video</input>
        <br><input type="checkbox" name="tv" value="Hulu">Hulu</input>
        <br><input type="checkbox" name="tv" value="HBO">HBO</input>
        <br><input type="checkbox" name="tv" value="Peacock">Peacock</input>
        <br><input type="checkbox" name="tv" value="Disney+">Disney+</input>
        <br><input type="checkbox" name="tv" value="Sling">Sling</input>
        <br><input type="checkbox" name="tv" value="ESPN+">ESPN+</input>
        <br><input type="checkbox" name="tv" value="Fubo TV">Fubo TV</input> 
        <br><input type="checkbox" name="tv" value="NFL Game Pass">NFL Game Pass</input>

        <p>Music</p>
        <input type="checkbox" name="tv" value="Spotify">Spotify</input>
        <br><input type="checkbox" name="tv" value="Apple Music">Apple Music</input>
        <br><input type="checkbox" name="tv" value="Amazon Music">Amazon Music</input>

        <p>News</p>
        <input type="checkbox" name="tv" value="Wall Street Journal">Wall Street Journal</input>
        <br><input type="checkbox" name="tv" value="New York Times">New York Times</input>
        <br><input type="checkbox" name="tv" value="Time">Time</input>
        <br><input type="checkbox" name="tv" value="Fortune">Fortune</input>
        <br><input type="checkbox" name="tv" value="Barrons">Barrons</input>
        <br><input type="checkbox" name="tv" value="Cosmopolitan">Cosmopolitan</input>
        <br><input type="checkbox" name="tv" value="US Weekly">US Weekly</input>
        <br><input type="checkbox" name="tv" value="Entertainment Weekly">Entertainment Weekly</input>
        <br><input type="checkbox" name="tv" value="Forbes">Forbes</input>
        <br><input type="checkbox" name="tv" value="Smithsonian">Smithsonian</input>

        <p>Magazines</p>
        <input type="checkbox" name="tv" value="Health">Health</input>
        <br><input type="checkbox" name="tv" value="Food & Wine">Food & Wine</input>
        <br><input type="checkbox" name="tv" value="Sports Illustrated">Sports Illustrated</input>
        <br><input type="checkbox" name="tv" value="Car and Driver">Car and Driver</input>
        <br><input type="checkbox" name="tv" value="Reader's Digest">Reader's Digest</input>
        <br><input type="checkbox" name="tv" value="Vanity Fair">Vanity Fair</input>
        <br><input type="checkbox" name="tv" value="Bridal Guide">Bridal Guide</input>
        <br><input type="submit" value="Next" ></input>
        </form>
    
    </body>
</html>