<html>
    <body>
        <h1>Your Subscriptions</h1>
        <p>Please choose the services that you are subscribed to:</p>

        <p>TV Shows & Movies</p>
        <input for="myCheck" type="checkbox" name="netflix" value="1">Netflix</input>
        <br><input type="checkbox" name="amazon_prime_video" value="1">Amazon Prime Video</input>
        <br><input type="checkbox" name="hulu" value="1">Hulu</input>
        <br><input type="checkbox" name="hbo" value="1">HBO</input>
        <br><input type="checkbox" name="peacock" value="1">Peacock</input>
        <br><input type="checkbox" name="disney_plus" value="1">Disney+</input>
        <br><input type="checkbox" name="sling" value="1">Sling</input>
        <br><input type="checkbox" name="espn" value="1">ESPN+</input>
        <br><input type="checkbox" name="fubotv" value="1">Fubo TV</input> 
        <br><input type="checkbox" name="nfl" value="1">NFL Game Pass</input>

        <p>Music</p>
        <input type="checkbox" name="spotify" value="1">Spotify</input>
        <br><input type="checkbox" name="apple_music" value="1">Apple Music</input>
        <br><input type="checkbox" name="amazon_music" value="1">Amazon Music</input>

        <p>News</p>
        <input type="checkbox" name="wall_street" value="1">Wall Street Journal</input>
        <br><input type="checkbox" name="nyt" value="1">New York Times</input>
        <br><input type="checkbox" name="time" value="1">Time</input>
        <br><input type="checkbox" name="fortune" value="1">Fortune</input>
        <br><input type="checkbox" name="barrons" value="1">Barrons</input>
        <br><input type="checkbox" name="cosmopolitan" value="1">Cosmopolitan</input>
        <br><input type="checkbox" name="us_weekly" value="1">US Weekly</input>
        <br><input type="checkbox" name="entertainment" value="1">Entertainment Weekly</input>
        <br><input type="checkbox" name="forbes" value="1">Forbes</input>
        <br><input type="checkbox" name="smithsonian" value="1">Smithsonian</input>

        <p>Magazines</p>
        <input type="checkbox" name="health" value="1">Health</input>
        <br><input type="checkbox" name="food" value="1">Food & Wine</input>
        <br><input type="checkbox" name="sports" value="1">Sports Illustrated</input>
        <br><input type="checkbox" name="car" value="1">Car and Driver</input>
        <br><input type="checkbox" name="reader's" value="1">Reader's Digest</input>
        <br><input type="checkbox" name="vanity" value="1">Vanity Fair</input>
        <br><input type="checkbox" name="bridal" value="1">Bridal Guide</input>
        
        <a href="pay&hours.html"><button>Next</button></a>
    
    </body>
</html>